<h3 class="center top">Our Offered Services that grow interests</h3>
<div class="container">
    <div class="card-deck">
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">service 1</h5>
                <p class="card-text">details......</p>
                <div class="center">
                    <button type="button" class="btn btn-info">more details</button>

                </div>
            </div>

        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">service 2</h5>
                <p class="card-text">details......</p>
                <div class="center">
                    <button type="button" class="btn btn-info">more details</button>

                </div>
            </div>

        </div>
        <div class="card">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">service 3</h5>
                <p class="card-text">details......</p>
                <div class="center">
                    <button type="button" class="btn btn-info">more details</button>
    
                </div>
            </div>
            </div>
            
    </div>
    
</div>