
<div class="hero overlay" style="background-image: url('assets/images/bg_3.jpg');">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-9 mx-auto text-center">
                <h1 class="text-white">Players display</h1>
            </div>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <div class="custom-media d-flex container"> 
        <div class="img mr-4">
          <img src={{player.image}} alt="Image" class="img-fluid">
        </div>
        <div class="text">
          <h2 class="brown">{{player.name}}</h2>
          <p>{{player.age}}<p>
          <h3>{{player.poste}}</h3>
          <h3>{{player.club}}</h3>
          <p><a href="#">Read more</a></p>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="custom-media d-flex">
        
      </div>
    </div>
  </div>


  